# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
.pytest_cache/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build/
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Docker
.dockerignore

# Data
data/
*.db
*.sqlite

# Logs
*.log
logs/
